- @no_container = true
- page_title "图表"

.repo-charts{ class: container_class }
  %h4.sub-header
    = _("Programming languages used in this repository")

  .row
    .col-md-4
      %ul.bordered-list
        - @languages.each do |language|
          %li
            %span{ style: "color: #{language[:color]}" }
              = icon('circle')
            &nbsp;
            = language[:label]
            .pull-right
              = language[:value]
              \%
    .col-md-8
      %canvas#languages-chart{ height: 400 }

.repo-charts{ class: container_class }
  .sub-header-block.border-top

  .row.tree-ref-header
    .col-md-6
      %h4
        - start_time = capture do
          #{@commits_graph.start_date.strftime('%b %d')}
        - end_time = capture do
          #{@commits_graph.end_date.strftime('%b %d')}
        = (_("Commit statistics for %{ref} %{start_time} - %{end_time}") % { ref: "<strong>#{@ref}</strong>", start_time: start_time, end_time: end_time }).html_safe

    .col-md-6
      .tree-ref-container
        .tree-ref-holder
          = render 'shared/ref_switcher', destination: 'graphs_commits'
        %ul.breadcrumb.repo-breadcrumb
          = commits_breadcrumbs

  .row
    .col-md-6
      %ul.commit-stats
        %li
          - total = capture do
            #{@commits_graph.commits.size}
          = (_("Total: %{total}") % { total: "<strong>#{total} commits</strong>" }).html_safe
        %li
          - average = capture do
            #{@commits_graph.commit_per_day}
          = (_("Average per day: %{average}") % { average: "<strong>#{average} commits</strong>" }).html_safe
        %li
          - authors = capture do
            #{@commits_graph.authors}
          = (_("Authors: %{authors}") % { authors: "<strong>#{authors}</strong>" }).html_safe
    .col-md-6
      %div
        %p.slead
          = _("Commits per day of month")
        %canvas#month-chart
  .row
    .col-md-6
    .col-md-6
      %div
        %p.slead
          = _("Commits per weekday")
        %canvas#weekday-chart
  .row
    .col-md-6
    .col-md-6
      %div
        %p.slead
          = _("Commits per day hour (UTC)")
        %canvas#hour-chart

-# haml-lint:disable InlineJavaScript
%script#projectChartData{ type: "application/json" }
  - projectChartData = {};
  - projectChartData['hour'] = @commits_per_time
  - projectChartData['weekDays'] = @commits_per_week_days
  - projectChartData['month'] = @commits_per_month
  - projectChartData['languages'] = @languages
  = projectChartData.to_json.html_safe
