- dashboard = local_assigns[:dashboard]
- custom_dom_id = dom_id(milestone.try(:milestones) ? milestone.milestones.first : milestone)

%li{ class: "milestone milestone-#{milestone.closed? ? 'closed' : 'open'}", id: custom_dom_id }
  .row
    .col-sm-6
      %strong= link_to truncate(milestone.title, length: 100), milestone_path
      - if milestone.group_milestone?
        %span - 群组里程碑
      - else
        %span - 项目里程碑

    .col-sm-6
      .pull-right.light #{milestone.percent_complete(current_user)}% 完成
  .row
    .col-sm-6
      = link_to pluralize(milestone.total_issues_count(current_user), '个问题', '个问题'), issues_path
      &middot;
      = link_to pluralize(milestone.merge_requests.size, '个合并请求', '个合并请求'), merge_requests_path
    .col-sm-6= milestone_progress_bar(milestone)
  - if milestone.is_a?(GlobalMilestone) || milestone.group_milestone?
    .row
      .col-sm-6
        - if milestone.legacy_group_milestone?
          .expiration= render('shared/milestone_expired', milestone: milestone)
          .projects
            - milestone.milestones.each do |milestone|
              = link_to milestone_path(milestone) do
                %span.label.label-gray
                  = dashboard ? milestone.project.full_name : milestone.project.name
      - if @group
        .col-sm-6.milestone-actions
          - if can?(current_user, :admin_milestones, @group)
            - if milestone.group_milestone?
              = link_to edit_group_milestone_path(@group, milestone), class: "btn btn-xs btn-grouped" do
                编辑
              \
            - if milestone.closed?
              = link_to '重新打开里程碑', group_milestone_route(milestone, {state_event: :activate }), method: :put, class: "btn btn-xs btn-grouped btn-reopen"
            - else
              = link_to '关闭里程碑', group_milestone_route(milestone, {state_event: :close }), method: :put, class: "btn btn-xs btn-grouped btn-close"

  - if @project
    .row
      .col-sm-6
        = render('shared/milestone_expired', milestone: milestone)
      .col-sm-6.milestone-actions
        - if can?(current_user, :admin_milestone, milestone.project) and milestone.active?
          = link_to edit_project_milestone_path(milestone.project, milestone), class: "btn btn-xs btn-grouped" do
            编辑
          \

          - if @project.group
            %button.js-promote-project-milestone-button.btn.btn-xs.btn-grouped.has-tooltip{ title: _('Promote to Group Milestone'),
              disabled: true,
              type: 'button',
              data: { url: promote_project_milestone_path(milestone.project, milestone),
                      milestone_title: milestone.title,
                      target: '#promote-milestone-modal',
                      container: 'body',
                      toggle: 'modal' } }
              = _('Promote')

          = link_to '关闭里程碑', project_milestone_path(@project, milestone, milestone: {state_event: :close }), method: :put, remote: true, class: "btn btn-xs btn-close btn-grouped"

        %button.js-delete-milestone-button.btn.btn-xs.btn-grouped.btn-danger{ data: { toggle: 'modal',
          target: '#delete-milestone-modal',
          milestone_id: milestone.id,
          milestone_title: markdown_field(milestone, :title),
          milestone_url: project_milestone_path(milestone.project, milestone),
          milestone_issue_count: milestone.issues.count,
          milestone_merge_request_count: milestone.merge_requests.count },
          disabled: true }
          = _('Delete')
          = icon('spin spinner', class: 'js-loading-icon hidden' )
